[data-theme="Desktop"] {
    /* color */
    --kik-color-action-primary: #002b4e;
    --kik-color-action-primary-hover: #ffffff;
    --kik-color-action-secondary: #ffffff;
    --kik-color-action-secondary-hover: #002b4e;
    --kik-color-bg-alt-2: #e8e8e8;
    --kik-color-bg-alt-white---50: #ffffff80;
    --kik-color-bg-discount: #db3535;
    --kik-color-bg-discount-alt: #fbebeb;
    --kik-color-bg-inverse: #002b4e;
    --kik-color-bg-inverse---10: #f2f4f6;
    --kik-color-bg-page: #fefaf2;
    --kik-color-bg-star: #fecf84;
    --kik-color-bg-surface: #ffffff;
    --kik-color-border-default: #000000;
    --kik-color-border-subtle: #e8e8e8;
    --kik-color-semantic-error: #db3535;
    --kik-color-semantic-success: #4ad55a;
    --kik-color-semantic-warning: #ebdb29;
    --kik-color-text-disable: #ccd3d9;
    --kik-color-text-inverse: #ffffff;
    --kik-color-text-primary: #002b4e;
    --kik-color-text-secondary: #323232;
    --kik-color-text-tertiary: #616568;
    /* number */
    --kik-radius-none: 0px;
    --kik-radius-xsm: 4px;
    --kik-radius-sm: 8px;
    --kik-radius-md: 12px;
    --kik-radius-lg: 16px;
    --kik-radius-xl: 32px;
    --kik-radius-2xl: 40px;
    --kik-radius-pill: 100px;
    --kik-spacing-page-full: 0px;
    --kik-spacing-2: 2px;
    --kik-spacing-4: 4px;
    --kik-spacing-8: 8px;
    --kik-spacing-sm: 8px;
    --kik-spacing-12: 12px;
    --kik-spacing-16: 16px;
    --kik-spacing-md: 16px;
    --kik-spacing-page-semi-full: 20px;
    --kik-spacing-24: 24px;
    --kik-spacing-lg: 24px;
    --kik-spacing-32: 32px;
    --kik-spacing-xl: 32px;
    --kik-spacing-40: 40px;
    --kik-spacing-section-sm: 48px;
    --kik-spacing-page-default: 64px;
    --kik-spacing-section-md: 64px;
    --kik-spacing-section-lg: 96px;
    --kik-text-size-body-xsm: 12px;
    --kik-text-size-body-sm: 14px;
    --kik-text-size-body-md: 16px;
    --kik-text-size-body-lg: 18px;
    --kik-text-size-h6: 20px;
    --kik-text-size-h5: 22px;
    --kik-text-size-h4: 28px;
    --kik-text-size-h3: 32px;
    --kik-text-size-h2: 36px;
    --kik-text-size-h1: 44px;
    /* string */
    --kik-text-font-body: Poppins;
    --kik-text-font-heading: Poppins;
}

[data-theme="Mobile"] {
    /* color */
    --kik-color-action-primary: #002b4e;
    --kik-color-action-primary-hover: #ffffff;
    --kik-color-action-secondary: #ffffff;
    --kik-color-action-secondary-hover: #002b4e;
    --kik-color-bg-alt-2: #e8e8e8;
    --kik-color-bg-alt-white---50: #ffffff80;
    --kik-color-bg-discount: #db3535;
    --kik-color-bg-discount-alt: #fbebeb;
    --kik-color-bg-inverse: #002b4e;
    --kik-color-bg-inverse---10: #f2f4f6;
    --kik-color-bg-page: #fefaf2;
    --kik-color-bg-star: #fecf84;
    --kik-color-bg-surface: #ffffff;
    --kik-color-border-default: #000000;
    --kik-color-border-subtle: #e8e8e8;
    --kik-color-semantic-error: #db3535;
    --kik-color-semantic-success: #4ad55a;
    --kik-color-semantic-warning: #ebdb29;
    --kik-color-text-disable: #ccd3d9;
    --kik-color-text-inverse: #ffffff;
    --kik-color-text-primary: #002b4e;
    --kik-color-text-secondary: #323232;
    --kik-color-text-tertiary: #616568;
    /* number */
    --kik-radius-none: 0px;
    --kik-radius-xsm: 2px;
    --kik-radius-sm: 4px;
    --kik-radius-md: 8px;
    --kik-radius-lg: 12px;
    --kik-radius-xl: 24px;
    --kik-radius-2xl: 40px;
    --kik-radius-pill: 100px;
    --kik-spacing-page-full: 0px;
    --kik-spacing-2: 2px;
    --kik-spacing-4: 4px;
    --kik-spacing-sm: 4px;
    --kik-spacing-8: 8px;
    --kik-spacing-md: 8px;
    --kik-spacing-12: 12px;
    --kik-spacing-16: 16px;
    --kik-spacing-lg: 16px;
    --kik-spacing-page-default: 16px;
    --kik-spacing-page-semi-full: 16px;
    --kik-spacing-24: 24px;
    --kik-spacing-xl: 24px;
    --kik-spacing-32: 32px;
    --kik-spacing-section-sm: 32px;
    --kik-spacing-40: 40px;
    --kik-spacing-section-lg: 48px;
    --kik-spacing-section-md: 48px;
    --kik-text-size-body-xsm: 11px;
    --kik-text-size-body-sm: 13px;
    --kik-text-size-body-md: 14px;
    --kik-text-size-body-lg: 16px;
    --kik-text-size-h6: 18px;
    --kik-text-size-h5: 20px;
    --kik-text-size-h4: 22px;
    --kik-text-size-h3: 28px;
    --kik-text-size-h2: 32px;
    --kik-text-size-h1: 36px;
    /* string */
    --kik-text-font-body: Poppins;
    --kik-text-font-heading: Poppins;
}